body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.block{
  min-width: 160px;
  min-height: 100px;
  background-color: darkseagreen;
  border-radius: 20px;
  border-color: forestgreen;
  border-width: thick;
  user-select: none;
  align-content: center;
  position: fixed;
  vertical-align: center;
}
.grid {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100vh;

  background: #ffffff;
  background-image: linear-gradient(#938c8c .1em, transparent .1em), linear-gradient(90deg, #938c8c .1em, transparent .1em);
  background-size: 2em 2em;
}

.textbox{
  position: absolute;
  min-width: 60px;
  min-height: 48px;
  max-width: 100px;
  max-height: 80px;
  top: 33%;
  left: 33%;
  text-align: center;
  vertical-align: center;
}